@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

$red: #e55643 ;
$green: #2b9f5e;
$yellow: #f1c83c;
$shadow: #533d4a;

html{
  height: 100%;
}

body{
  font-family: 'Fjalla One', sans-serif;
}

.container{
  transform: translate(-50%, -50%);
  top: 100px;
  left: 50%;
  display: block;
  position: absolute;
  max-width: 225px;
}


h1{
  color: #fff;
  text-transform: uppercase;
  font-size: 42px;
  margin: 0;
  line-height: 47px;
  letter-spacing: 2px;
}

.title{
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  left: 50%;
  position: relative;
}

.title span {
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
  min-width: 10px;
  min-height: 10px;
}

.title:nth-child(1) {
  color: #e55643;
}

.title:nth-child(2) {
  color: #2b9f5e;
}

.title:nth-child(3) {
  color: #f1c83c;
}

.content {
  transform: translate(-50%, -50%);
  position: absolute;
  display: block;
  left: 50%;
  top: 300px;
}

canvas { 
  border: 1px solid black; 
  transform: translate(-50%, -50%);
  position: absolute;
  display: block;
  left: 50%;
  top: 300px;
}